:root{
  --bg:#f6f7f5;
  --panel:#ffffff;
  --text:#101613;
  --muted:#6b756d;
  --border:#e6ece6;

  --green:#1f7a4a;
  --green2:#2aa35f;
  --danger:#d64b4b;

  --shadow: 0 12px 30px rgba(0,0,0,.06);
  --shadow2: 0 2px 12px rgba(0,0,0,.04);

  --r:16px;
  --r2:22px;
}
